.background{

  background-image: url("../../../../src/image/backround.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 33px;
  height: 100vh;
}